
.quick-actions-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 10px;
}

.quick-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  color: grey;
  cursor: default;
}

.quick-action.active {
  color: limegreen;
  cursor: pointer;
}

.quick-action:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
